<?xml version="1.0" encoding="UTF-8"?>
<robot name="bb8-robot">

  <link name='bb8'>

    <collision name='bb8_collision'>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://robot_utokyo/models/bb8/meshes/BB8.dae" scale=".05 .05 .05"/>s
      </geometry>
    </collision>

    <inertial>
      <mass value="40"/>
      <inertia ixx="2.4"  ixy="2.4"  ixz="1" iyy="2.4" iyz="1" izz="0"/>
    </inertial>

    <visual name='bb8_visual'>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://robot_utokyo/models/bb8/meshes/BB8.dae" scale=".05 .05 .05"/>
      </geometry>
    </visual>

  </link>

  <!-- Add controllers -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/bb8</robotNamespace>
    </plugin>
  </gazebo>

</robot>
