<?xml version="1.0" encoding="UTF-8"?>
<robot name="crown">
  <link name='body'>
    <inertial>
      <mass value=".1"/>
      #cylinder Izz = 1/2 * M * r^2
      #cylinder Iyy = Ixx = 1/12 * M * l^2
      <inertia ixx=".00408"  ixy="0"  ixz="0" iyy=".00408" iyz="0" izz=".002"/>
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius=".2" length=".7"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius=".2" length=".7"/>
      </geometry>
    </visual>
  </link>

  <link name='handle'>
    <inertial>
      <mass value="0"/>
      <inertia ixx="0"  ixy="0"  ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius=".4" length="0.02"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius=".4" length="0.02"/>
      </geometry>
    </visual>
  </link>
  <joint name="body_handle" type="fixed">
    <parent link="body"/>
    <child link="handle"/>
    <origin xyz="0 0 .35" rpy="0 0 0"/>
  </joint>

</robot>
